<!DOCTYPE html>
<html>
    <head>
        <title>socket crazie!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel='stylesheet' href='style.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Socket Lesson</h1>
            <h5 id='user'></h5>
            <p>Draw</p>
            <div id='draw-area'></div>
            <div>
                <p>chat</p>
                <div class='chatbox'>
                    <ul id='msg'></ul>
                </div>
                <input id='m'><button id='sub' class='btn'>Send</button>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="sketch.js" type="text/javascript"></script>
</html>